@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #222222;
}

.body-colour {
  background: #f6f6f8;
  padding-bottom: 3.125rem;
}

.body-width {
  width: 85%;
  margin: 2.5rem auto 0 auto;
  /* padding: ; */
}

.body-width h1 {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.938rem;
  padding-top: 1.25rem;

  color: #000000;
}

.body-width .hashtag {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 0.875rem;

  color: #1d66c1;
}
.fa-eye {
  color: #a0a0a0;
}
.body-width .date-margin {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.body-width .date {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.188rem;
  vertical-align: middle;
  color: #a0a0a0;
}

.main-text {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;

  text-align: justify;
  padding-bottom: 10px;

  color: #000000;
}

.sub-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 1.875rem;

  color: #000000;
}

.socials {
  position: relative;

  border-radius: 5px;
  padding: 5px 10px 0 15px;
  margin-top: 3.125rem;

  background: #ffffff;
}

.socials p {
  position: relative;
  margin-bottom: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.188rem;

  color: #1d66c1;
}

.socials div.col-6.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.features {
  position: relative;

  background: #ffffff;
}

.features .feature-title {
  position: relative;
  padding-top: 1.875rem;
  margin-left: -4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;

  color: #000000;
}

.joined-cards div.card {
  margin: 0;
}
.joined-cards {
  border-radius: 0.25rem;
}

.card-title {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;

  color: #000000;
}

.card-date {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 0.75rem;

  color: #a0a0a0;
}

.card-hashtag {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.688rem;
  line-height: 0.75rem;

  color: #1d66c1;
}

.card-overlay-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;

  color: #ffffff;
}

.card-overlay-date {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 0.75rem;

  color: #ffffff;
}

.card-overlay-hashtag {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.688rem;
  line-height: 0.75rem;

  color: #ffffff;
}

.img-gradient {
  position: relative;
  display: inline-block;
  height: 100%;
  border-radius: 0.25rem;
}

.img-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.8)),
    color-stop(100%, rgba(0, 0, 0, 0.1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  border-radius: 0.25rem;
}

.img-gradient img {
  display: block;
  height: 100%;
  border-radius: 0.25rem;
}

footer {
  background: linear-gradient(rgba(23, 26, 31, 0.95), rgba(23, 26, 31, 0.95)),
    url("../images/footer-background.jpg");
  /* background-color: #171A1F; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #a0a0a0;
  padding-top: 2rem;
}
footer .footer-address {
  color: #a0a0a0;
}
.footer-heading,
footer h5 {
  margin-bottom: 8px;
  font-weight: 800;
}
footer img {
  margin-bottom: 15px;
}
.foot-subtitle,
.footer-heading a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.188rem;

  color: #ffffff;
}
footer a {
  color: #a0a0a0;
  font-weight: 300;
}
footer li {
  margin-bottom: 5px;
}
.social-media {
  margin-top: 15px;
  margin-bottom: 1.25rem;
}
.social-media a {
  margin-right: 5px;
}

[class*="col-"] {
  padding: 0.5rem;
}

.arrow {
  border: solid 1px #fff;
  border-radius: 0.2rem;
  padding: 5px 8px;
  background-color: #fff;
}
.slider {
  padding-top: 1.25rem;
  margin-left: -8px;
  margin-right: -8px;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

nav ul.pagination {
  margin: 0;
}

.pagination a {
  color: #000;
}
.page-item.active .page-link {
  background-color: #1d66c1;
  border-color: #1d66c1;
}
/* Pagination */
.pagination .page-item {
  margin: 0 0.5rem;
}
.pagination .page-link {
  border-color: #fff;
  border-radius: 0.3rem;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.page-item:last-child .page-link {
  margin-right: 0;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

/* Main News */
.btn-sort {
  color: #1d66c1;
  background-color: #fff;
  border-color: #f0f0f0;
}
.title-text {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;

  color: #000000;
}
.dropdown .dropdown-item.active {
  color: #4267b2;
  background-color: #fff;
}
.dropdown .dropdown-item-top {
  color: #000;
  padding-left: 15px;
}
.dropdown-width,
.dropdown-menu {
  min-width: 5rem;
}
.dropdown i {
  margin-right: 0.65rem;
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.188rem;

  color: #a0a0a0;
}

.button-xs {
  display: none;
}

nav.navbar.horizontal-bar {
  background-color: #1d66c1;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .paint-blue {
    height: 3.75rem;
  }
  #navbarResponsiveNew .dropdown-menu {
    margin: 0.6rem 0 0;
    border-radius: 0;
    border: 2px solid #f0f0f0;
  }
}
.paint-blue {
  background-color: #1d66c1;
}

.menu-item a.nav-link:hover {
  font-weight: 700;
  color: #fff !important;
}

.menu-item a.nav-link.active {
  font-weight: 700;
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
a.header-icons {
  color: #1d66c1;
}
.remove-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.zoom-img {
  position: relative;
  overflow: hidden;
}
.zoom-img img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(1);
}

.zoom-img:hover img {
  transform: scale(1.1);
}

/* Sections Pages */
.outer-navigation .list-group-item.active {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.125);
  border-left: 4px solid #1d66c1;
}

.text-blue {
  color: #1d66c1;
}

.list-group-item.list-group-item-action {
  color: #1d66c1;
}

.outer-navigation .list-group-item.list-group-item-action:hover {
  color: #1d66c1;
  border-left: 4px solid #1d66c1;
}
.inner-navigation.list-group {
  flex-direction: row;
}
.inner-navigation .list-group-item.active {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.125);
  border-bottom: 4px solid #1d66c1;
}
.inner-navigation .list-group-item.list-group-item-action:hover {
  color: #1d66c1;
  border-bottom: 4px solid #1d66c1;
}
.football-img {
  background-image: url("../images/football.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.btn-primary {
  background-color: #1d66c1;
  border-color: #1d66c1;
}
.row.first-row {
  padding-left: 1.25rem;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.sport-heading {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 1.875rem;
  margin-bottom: 15px;
  color: #1d66c1;
}

.sport-heading-two {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 1.875rem;
  margin-bottom: 15px;
  color: #000;
}

.sport-text {
  font-weight: 400;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.blue {
  color: #1d66c1;
}
.trainer-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.sport-hashtag {
  color: #1d66c1;
  font-style: normal;
}
.modal-header {
  border-bottom: #fff;
}
.modal-footer {
  border-top: #fff;
}

.dropdown-item:active {
  color: #6c757d;
  background-color: #fff;
}

.gallery-box {
  position: relative;
  width: 100%;
  height: 210px;

  background: #c4c4c4;
  border-radius: 5px;
}

.gallery-box-2 {
  position: relative;
  width: 100%;
  height: 239px;

  background: #c4c4c4;
  border-radius: 5px;
}

.video-box {
  position: relative;
  width: 100%;
  height: 326px;

  background: #c4c4c4;
  border-radius: 5px;
}

.video-box-2 {
  position: relative;
  width: 100%;
  height: 213px;

  background: #c4c4c4;
  border-radius: 5px;
}

.gallery-button {
  position: relative;
  width: 100%;
  min-height: auto;
  padding-top: 1.2rem;

  top: 0.5rem;

  background: #ffffff;
  opacity: 0.99;

  margin-left: 8px;
  margin-right: 8px;

  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  border-radius: 5px;
}

.gallery-button p {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.188rem;

  text-align: center;

  color: #000000;
}

[class="album"] {
  padding: 0.5rem;
}

.gallery-box-position p {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;

  color: #ffffff;
}

.gallery-box-position i {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25rem;

  color: #ffffff;
}

.gallery-video-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: normal;

  padding-top: 1.875rem;

  color: #000000;
}

.view-count {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.188rem;

  color: #a0a0a0;
}
.sport-text.reduce-margin p {
  margin-bottom: 0;
}

.souvenir-image {
  position: relative;
  background-color: #fff;
  text-align: center;

  padding: 1.25rem 1.563rem;
  width: 100%;
  height: auto;

  border-radius: 5px;
}

.souvernir-card p {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.438rem;

  margin-top: 1rem;

  color: #000000;
}
nav.navbar.horizontal-bar-2 {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-nav .nav-link.second-link {
  color: #032f5e !important;
  opacity: 0.6;
}
.menu-item a.nav-link.second-link:hover {
  border-bottom: 4px solid #032f5e;
  color: #032f5e !important;
  opacity: unset;
}
.menu-item a.nav-link.second-link.active {
  border-bottom: 4px solid #032f5e;
  color: #032f5e !important;
  opacity: unset;
}

.marketing-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;

  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 0;
  text-align: justify;
  color: #1d66c1;
}
.marketing-sub-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;

  text-align: justify;
  color: #1d66c1;
}

.marketing-main-text {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;

  text-align: justify;
  padding-top: 2rem;
  padding-bottom: 2rem;

  color: #000000;
}

.marketing-card-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;

  color: #1d66c1;
}
.marketing-company-status {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.188rem;

  color: #000000;
}
.marketing-no-padding .row .col-12 .card {
  padding-top: 0;
  padding-bottom: 0;
}

.media-sort {
  padding-top: 1.875rem;
}

.btn-nav {
  background-color: #fff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  height: 48px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid #f0f0f0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 5px;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.block-search::before {
  content: "\200B";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.block-icon::before {
  content: "\200B";
  display: inline;
  height: 100%;
  vertical-align: middle;
}
.bottom-right {
  display: inline-block;
  vertical-align: middle;
}
.bottom-nav {
  display: inline-block;
  vertical-align: bottom;
  padding: 0.5rem 0;
}

@media (max-width: 576px) {
  /* .timer {
    width: 100%;
    margin: 0 auto;
  } */
  .block-icon {
    display: none;
  }
  .button-xs {
    display: inline-block;
  }
  .navbar-toggler {
    font-size: 0.7rem;
    line-height: 0;
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
  }
  .xs-nav {
    display: inline-block;
  }
  nav.navbar.horizontal-bar {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
  }
  .padding-xs {
    padding: 8px;
    padding-top: 20px;
    padding-left: 16px;
  }
  img.img-fluid-xs {
    width: 70%;
    height: auto;
  }
  .padding-right-xs {
    padding-right: 23px;
  }
  .justify-xs {
    text-align: justify;
  }
  .bottom-right {
    vertical-align: middle;
  }
  .remove-xs {
    display: none;
  }
  .icons {
    text-align: center !important;
  }
  .joined-cards .card.ctop {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .joined-cards .card.cbottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .inner-navigation.list-group {
    flex-direction: column !important;
  }
  .socials-xs {
    text-align: center;
    margin: 0 auto;
  }
  .column-count {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .block-search::before {
    content: none;
  }
  .block-icon {
    display: none;
  }
  .bottom-right {
    vertical-align: middle;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  nav.navbar.horizontal-bar {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
  }
  .padding-xs {
    padding-top: 20px;
    padding-left: 20px;
  }
  .block-search::before {
    content: none;
  }
  .block-icon {
    display: none;
  }
  .button-xs {
    display: inline-block;
  }
  .navbar-toggler {
    font-size: 0.7rem;
    line-height: 0;
    border-radius: 5px;
    padding: 0.25rem 0.75rem;
  }
  nav.navbar.horizontal-bar {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
  }
  .bottom-right {
    vertical-align: top;
  }
  img.img-fluid-xs {
    width: 65%;
    height: auto;
  }
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.9rem;
  margin-bottom: 1rem;
}

.media-video-title {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 2.5rem;
  color: #000000;
}

.media-hashtag {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.188rem;

  color: #1d66c1;
}

.media-card-overlay-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.188rem;

  color: #ffffff;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 432px) {
  .center-xxs {
    min-width: 100%;
    text-align: center !important;
  }
  .media-card-overlay-title {
    font-size: 0.65rem;
    line-height: 1.188rem;

    color: #ffffff;
  }
}
#new-card .card {
  min-width: 100%;
}
#new-card {
  margin-left: -8px;
  margin-right: -8px;
}

.card.mbottom {
  margin-bottom: 30px;
}

.skidka-card-title {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.188rem;

  color: #000000;
}

.icons a {
  margin-right: 0.6rem;
}
.icons {
  font-size: 1.25rem;
  padding-bottom: 10px;
  text-align: right;
}
.socials .fa-vk {
  color: #4c75a3;
}
.socials .fa-instagram {
  color: #e1306c;
}
.socials .fa-telegram-plane {
  color: #0088cc;
}
.socials .fa-whatsapp {
  color: #25d366;
}
.socials .fa-facebook-square {
  color: #4267b2;
}
.card-body.souvernir-card .row.mt-auto {
  padding-top: 1rem;
}

.sportsclub-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;

  color: #1d66c1;
}

.sportsclub-main-text {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;

  text-align: justify;

  color: #000000;
}

.sportsclub-box {
  position: relative;
  width: 100%;
  height: 11.125rem;

  background: linear-gradient(90deg, #1488cc 0%, #2b32b2 100%);

  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  border-radius: 5px;
}

.sportsclub-gradient {
  background-image: url(../images/sport-page-3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.sportsclub-gradient-2 {
  background-image: url(../images/sports-page-4-5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.sportsclub-gradient-text {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.938rem;

  color: #ffffff;
}

.sportsclub-history-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;

  text-align: justify;

  color: #1d66c1;
}

.sportsclub-contact-text {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 2.938rem;

  color: #000;
}

.sportsclub-main-text-blue {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;

  text-align: justify;

  color: #1d66c1;
}

.box {
  position: relative;
}

.box .p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar.horizontal-bar .dropdown .dropdown-toggle::after {
  content: none;
}
#dropdownMenuButtonTwo.dropdown-toggle::after {
  content: none;
}

.navbar.horizontal-bar .dropdown:hover > .dropdown-menu {
  display: block;
}
.navbar.horizontal-bar .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.fa-eye {
  vertical-align: middle;
}

.social-icons a {
  border: 1px #a0a0a0 solid;
  border-radius: 5px;
  font-size: x-large;
  padding: 0.5rem;
  margin-right: 8px;
  max-width: 2.5rem;
}
.social-icons a:hover {
  color: #fff;
  border: 1px #fff solid;
}

@media (min-width: 576px) {
  .card-deck .card {
    margin: 10px;
  }
}

.sport-video .embed-responsive {
  border-radius: 0.25rem;
}

.list-group-item:last-child,
.list-group-item:first-child {
  border-radius: 0;
}

.list-group-item {
  margin-bottom: 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.remove-margin > a {
  background-color: #a0a0a0;
  color: #fff;
  border-radius: 5px;
  padding: 0.3rem;
}

.row.sport-video,
.row.sport-photo,
.row.marketing-contacts {
  margin-left: -8px;
  margin-right: -8px;
}

@media (max-width: 768px) {
  .container-mobile {
    max-width: 100% !important;
  }
  /* .dropdown { 
      position: static !important; 
  } 
    
  .dropdown-menu { 
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; 
      margin-top: 0px !important; 
      width: 100% !important; 
  }  */
  .nav-item.menu-item ul.dropdown-menu {
    text-align: center;
  }
  #navbarResponsiveNew .navbar-nav > .nav-item.menu-item {
    width: 100% !important;
  }
  .no-margin-top-bottom {
    padding-top: 0;
    padding-bottom: 0;
  }
  .center-xs {
    text-align: center;
    margin: 0 auto;
  }
  .media-video-title {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
  }
  .gallery-video-title {
    font-size: 1.6rem;
  }
  .page-title {
    font-size: 1.6rem;
    line-height: normal;
  }
  .remove-xs {
    display: none;
  }
  .menu-item a.nav-link {
    position: relative;
    padding-right: 1.25rem;
  }
  .navbar.horizontal-bar .dropdown .dropdown-toggle::after {
    content: "";
    position: absolute;
    right: 1.5rem;
  }
  /* .menu-item a.nav-link{
  } */
}

.column-count {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

img.eye-icon {
  width: 16px;
  height: 10px;
  display: inline;
}

.team-header-background {
  background-image: url("../images/team_header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.tournir-header-background {
  background-image: url("../images/tournir.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.kiberzone-header-background {
  background-image: url("../images/kiberzone.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.main-header1-background {
  background-image: url("../images/header1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.main-header2-background {
  background-image: url("../images/header2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.sub-note {
  color: #1d66c1;
}
.timer {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
}

.start {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
}
.start .stop {
  position: absolute;
  width: 100%;
  left: 0;
  top: 60%;
  text-align: center;
}
.stop {
  font-size: 10px;
  font-weight: bold;
}
.scores {
  text-align: center;
}

.event-horizontal {
  height: 167px;
}
.img-auto {
  height: 100%;
  width: auto;
}
.event-month {
  margin-left: -4px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}
.position-bottom {
  position: relative;
  bottom: -50px;
}
.fix-left-right {
  margin-left: -8px;
  margin-right: -8px;
}
.group-name {
  padding: 8px 0px 8px 12px;
  font-weight: 600;
  border: 1px solid #f0f0f0;
  border-bottom: unset;
}
table.table thead th {
  font-size: 12px;
  color: #a0a0a0;
  font-weight: normal;
}
table.table {
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
}
.game-scores {
  display: inline-block;
  width: 50px;
  margin: 0 auto;
}
.sportsclub-button-text {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;

  color: #ffffff;
}

.sportsclub-family-activists {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;

  display: flex;
  align-items: flex-end;

  color: #ffffff;
}

.sportsclub-family-activists-small {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;

  display: flex;
  align-items: flex-end;

  color: #ffffff;
}

/* ------------------------------------
    18. Team Section CSS
-------------------------------------*/
.rs-team.style1 .player-item {
  position: relative;
}
.rs-team.style1 .player-item .player-img img {
  border-radius: 4px 4px 6px 6px;
}
.rs-team.style1 .player-item .person-details {
  padding: 20px 25px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease 0s;
  min-height: 80px;
}
.rs-team.style1 .player-item .person-details .player-title {
  font-size: 15px;
  text-align: left;
  overflow: hidden;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding-bottom: 2px;
  transition: 0.4s;
  margin-bottom: 0;
  position: relative;
  z-index: 9;
}
.rs-team.style1 .player-item .person-details .player-title .squad-numbers {
  font-size: 55px;
  line-height: 60px;
  color: #fbc02d;
  float: left;
  padding-right: 16px;
}
.rs-team.style1 .player-item .person-details .player-title a {
  padding-top: 4px;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 5px;
  color: #111111;
}
.rs-team.style1 .player-item .person-details .player-title a:hover {
  color: #fbc02d;
}
.rs-team.style1 .player-item .person-details .player-title .player-position {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  color: #555555;
  text-transform: capitalize;
}
.rs-team.style1 .player-item .person-details:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eff4fd;
  color: #fff;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 0 0 4px 4px;
}
.rs-team.style1.modify-style .player-item .player-img img {
  border-radius: 4px 4px 6px 6px;
}
.rs-team.style1.modify-style .player-item .person-details .player-title {
  color: #ffffff;
}
.rs-team.style1.modify-style
  .player-item
  .person-details
  .player-title
  .squad-numbers {
  color: #fbc02d;
}
.rs-team.style1.modify-style .player-item .person-details .player-title a {
  color: #ffffff;
}
.rs-team.style1.modify-style
  .player-item
  .person-details
  .player-title
  a:hover {
  color: #ffffff;
}
.rs-team.style1.modify-style
  .player-item
  .person-details
  .player-title
  .player-position {
  color: #ffffff;
}
.rs-team.style1.modify-style .player-item .person-details:after {
  position: unset;
  content: unset;
}
.rs-team.style1.modify-style .player-item:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  display: block;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85) 30%,
    rgba(255, 255, 255, 0) 70%
  );
}
.rs-team.style1.modify-style .owl-controls .owl-nav {
  position: absolute;
  content: "";
  right: 30px;
  bottom: 30px;
  z-index: 1;
}
.rs-team.style1.modify-style .owl-controls .owl-nav .owl-prev,
.rs-team.style1.modify-style .owl-controls .owl-nav .owl-next {
  display: inline;
}
.rs-team.style1.modify-style .owl-controls .owl-nav .owl-prev i,
.rs-team.style1.modify-style .owl-controls .owl-nav .owl-next i {
  width: 30px;
  height: 30px;
  line-height: 27px;
  color: #fbc02d;
  border-radius: 50%;
  text-align: center;
  border: 1.5px solid #fbc02d;
  background: transparent;
  transition: all 0.3s ease 0s;
  opacity: 0.5;
  font-size: 20px;
}
.rs-team.style1.modify-style .owl-controls .owl-nav .owl-prev i:hover,
.rs-team.style1.modify-style .owl-controls .owl-nav .owl-next i:hover {
  opacity: 1;
}
.rs-team.style1.modify-style
  .owl-controls
  .owl-nav
  .owl-prev
  i.fa-angle-left:before,
.rs-team.style1.modify-style
  .owl-controls
  .owl-nav
  .owl-next
  i.fa-angle-left:before {
  margin-right: 3px;
}
.rs-team.style1.modify-style .owl-controls .owl-nav .owl-prev {
  margin-right: 10px;
}

.rs-team.swiper-slider .swiper-container {
  position: relative;
}
.rs-team.swiper-slider .swiper-container .swiper-pagination {
  bottom: 0;
  top: unset;
  height: 5px;
  border-radius: 3px;
  background: #555555;
  overflow: hidden;
}
.rs-team.swiper-slider .swiper-container .swiper-pagination span {
  background: #fbc02d;
  border-radius: 3px;
}
.rs-team.swiper-slider .swiper-container .slider-nav .nav {
  display: inline;
  cursor: pointer;
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.rs-team.swiper-slider .swiper-container .slider-nav .nav i:before {
  color: #111111;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 100%;
  border: 1px solid #fbc02d;
  background: #fbc02d;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.rs-team.swiper-slider .swiper-container .slider-nav .nav.prev {
  left: 0;
}
.rs-team.swiper-slider .swiper-container .slider-nav .nav.next {
  right: 0;
}
.rs-team.swiper-slider .swiper-container .slider-nav .nav:hover i:before {
  color: #ffffff;
}
.rs-team.swiper-slider .swiper-container:hover .slider-nav .nav {
  opacity: 1;
}

.calendar {
  border-bottom: 1px solid #f0f0f0;
  background-color: #fff;
}
.calendar-heading {
  color: #a0a0a0;
  font-weight: normal;
}
.calendar-item small {
  color: #1d66c1;
}

.calendar-item,
.calendar-heading {
  padding: 12px;
}

.calendar-item {
  border-top: 1px solid #f0f0f0;
}

.calendar .calendar-col:first-child {
  border-left: 1px solid #f0f0f0;
}

.calendar .calendar-col {
  border-right: 1px solid #f0f0f0;
  padding: 0px;
}
.btn-calendar {
  background-color: #fff;
  padding: 0px;
}

.top-calendar {
  background-image: url("../images/Group 323.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.relative-bottom {
  position: relative;
  bottom: -8px;
}
.calendar-item .dropdown-toggle::after {
  content: unset;
}
.calendar-item.dropdown-item {
  min-width: 8rem;
}

.turnir-subheading {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.438rem;
  text-align: justify;

  color: #1d66c1;
}

.turnir-heading {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.938rem;

  text-align: justify;

  color: #1d66c1;
}

.turnir-largetext {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;

  text-align: justify;

  color: #000000;
}
.button-image:before {
  content: "";
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.myButton:before {
  background-image: url(../images/videocam.svg);
}
.button-image2:before {
  content: "";
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.myButton2:before {
  background-image: url(../images/filter.svg);
}

.search-game {
  padding: 1rem;
  border: none;
  cursor: pointer;
  width: 75%;
  border-radius: 0.313rem;
}

.search-game-card-subtext {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-bottom: 0;

  color: #1d66c1;
}
.search-game-card-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;

  color: #1d66c1;
}
.search-game-card-img {
  width: 100%;
  object-fit: cover;
}

.btn-transparent {
  padding: 10px 25px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.kiber-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.kiber-header {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
}

.calendar-heading > .form-group {
  margin-bottom: 0px;
}
.calendar-heading > .form-group {
  margin-bottom: 0px;
}

.calendar-heading > .form-group > .form-control {
  padding: 0px 0px 0px 8px;
  border: unset;
}
.btn-light {
  background-color: #fff !important;
}

.btn-onclick:active,
.open .dropdown-toggle.btn-onclick {
  background-color: #0275d8;
}

.trythis {
  position: relative;
  bottom: -25px;
}

.sbornyie-sostav {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;

  display: flex;
  align-items: flex-end;

  color: #ffffff;
}

.sbornyie-sostav-small {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;

  display: flex;
  align-items: flex-end;

  color: #ffffff;
}

.sbornyie-title {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;

  color: #000000;
}
.sbornyie-heading {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 500;

  color: #1d66c1;
}

.sbornyie-text {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;

  text-align: justify;

  color: #000000;
}

.sbornyie-black-heading {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;

  text-align: justify;

  color: #000000;
}

.sbornyie-large-heading {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.938rem;
  /* identical to box height */

  color: #000000;
}
.btn-transparent {
  padding: 10px 25px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.tryout {
  width: 100px;
  height: 100px;
}
.events input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: url(../images/addMedia.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-modify {
  width: 270px;
  height: 60px;
}

.calendar-heading > .form-group > .form-control {
  padding: 0px 0px 0px 8px;
  border: unset;
}

.breadcrumb {
  background-color: #fff;
}

ol.breadcrumb li {
  white-space: nowrap;
  display: inline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "→";
  padding-left: 2rem;
  padding-right: 2rem;
}

.kiberzone-heading {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;

  text-align: justify;

  color: #1d66c1;
}

.kiberzone-blue-subheading {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.438rem;
  text-align: justify;

  color: #1d66c1;
}

.kiberzone-blue-text {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.188rem;

  text-align: justify;

  color: #1d66c1;
}

.kiberzone-text {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: justify;

  color: #000000;
}

.sbornyie-card-heading {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 1.625rem;

  margin-bottom: 0;

  color: #000000;
}

.sbornyie-card-score {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.438rem;
  text-align: center;

  margin-bottom: 0;

  color: linear-gradient(to right, #1488cc 0%, #2b32b2 100%);
}

.sbornyie-card-time {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.438rem;

  margin-bottom: 0;

  color: #000000;
}

.sbornyie-card-date {
  position: relative;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.188rem;

  margin-bottom: 0;

  color: linear-gradient(to right, #1488cc 0%, #2b32b2 100%);
}
.main-card {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 20px;
}
.main-header-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #ffffff;
  opacity: 0.5;
  padding-bottom: 20px;
  border-bottom: 4px solid #a0a0a0;
}

/* New Styles */

/* Colors */
:root {
  --dark-blue: #032f5e;
  --light-blue: #1d66c1;
  --shiny-light-blue: #1488cc;
  --shiny-dark-blue: #2b32b2;
  --blue-variant: #4c5cb0;
  --black: #000000;
  --dark-gray: #a0a0a0;
}

.main-header1-background {
  width: 100%;
  height: 100%;
}

.banner-title {
  margin-top: 25%;
}

.my-slider .banner-card {
  cursor: grabbing;
}

.my-slider .banner-card .card-header {
  background-color: #f0f0f0;
}

.my-slider .banner-card .card-header .card-title {
  font-size: 1rem;
  color: var(--dark-blue);
  line-height: 1.5rem;
}

.my-slider .banner-card .card-body .card-subtitle {
  font-size: 0.7rem;
  line-height: 1rem;
  color: var(--light-blue);
}

.my-slider .banner-card .card-body .card-text {
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--black);
}

.my-slider .banner-card .card-body .card-text {
  font-size: 0.8rem;
  line-height: 1rem;
  color: var(--black);
}

.my-slider .banner-card .card-body .team-data img {
  width: 64px;
  height: 64px;
}

.my-slider .banner-card .card-body .team-data .play-time h6 {
  font-size: 0.7rem;
  line-height: 0.8rem;
  color: var(--dark-gray);
}

.my-slider .banner-card .card-body .team-data .play-time span {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
  background-image: linear-gradient(
    to right,
    var(--shiny-light-blue),
    var(--shiny-dark-blue)
  );

  background-clip: text;
  fill: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.my-slider .banner-card .card-body .team-names h6 {
  font-size: 1rem;
  line-height: 1.1rem;
  color: var(--dark-blue);
}

[data-action="stop"],
[data-action="start"] {
  display: none;
}

.tns-nav {
  text-align: center;
  margin-top: 2.5rem;
}

.tns-nav button {
  width: 2.5rem;
  border: none;
  margin-right: 2px;
}

.tns-nav-active {
  background-color: var(--blue-variant);
}

.carousel-controls {
  margin-top: -2.5rem;
}

.carousel-controls .carousel-btns a {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.carousel-controls .carousel-btns a:hover,
.carousel-controls .carousel-btns a:active {
  color: var(--blue-variant);
}

.carousel-controls .clickable-btn .btn {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  padding: 0.8rem 1.2rem;
  font-size: 0.9rem;
}

/* MEDIA QUERIES */

@media (max-width: 992px) {
  .my-slider .banner-card .card-body .team-data img {
    width: 50px;
    height: 50px;
  }

  .my-slider .banner-card .card-body .team-data .play-time h6 {
    font-size: 0.6rem;
    line-height: 0.7rem;
  }

  .my-slider .banner-card .card-body .team-data .play-time span {
    font-size: 2rem;
    line-height: 2rem;
  }

  .my-slider .banner-card .card-body .team-names {
    margin-top: 0 !important;
  }

  .my-slider .banner-card .card-body .team-names h6 {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}

@media (max-width: 768px) {
  .carousel-controls {
    margin-top: -2rem;
  }

  .carousel-controls .carousel-btns a,
  .carousel-controls .clickable-btn .btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {
  .carousel-controls .carousel-btns a,
  .carousel-controls .clickable-btn .btn {
    display: none;
  }
}
