@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color:#222222;
}

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
      display: block;
  }
  
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
      transition: none;
  }
  
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -25%;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

}


footer {
  background: linear-gradient(rgba(23, 26, 31, 0.95), rgba(23, 26, 31, 0.95)), url("img/footer-background.jpg");
  /* background-color: #171A1F; */
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  color: #A0A0A0;
  padding-top: 2rem;
}
footer .footer-address {
  color: #A0A0A0;
}
.footer-heading, footer h5 {
  margin-bottom: 8px;
  font-weight: 800;
}
footer img {
  margin-bottom: 15px;
}
.footer-heading a, footer h5 {
  color: #fff;
  font-weight: 800;
}
footer a {
  color: #A0A0A0;
  font-weight:300;
}
footer li {
  margin-bottom: 5px;
}
.social-media {
  margin-top: 15px;
  margin-bottom: 20px;
}
.social-media a {
  margin-right: 5px;
}
.carousel-item{
  display: block;
}
/* .carousel-control-prev,
.carousel-control-next {

} */

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.arrow {
  border:solid 1px #222222;
  padding: 5px 8px;
}
.slider{

}
.carousel-item, .carousel-item img {
  padding: 0;
  margin: 0;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/





.pagination a {
  color: #1D66C1;
}
.page-item.active .page-link {
  background-color: #1D66C1;
  border-color:  #1D66C1;
}
/* Pagination */
.pagination .page-item {
  margin: 0 0.5rem;
}
.pagination .page-link {
  border-color: #1D66C1;
  border-radius: .3rem;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
}
.page-item:last-child .page-link {
  margin-right: 0;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

/* Main News */
.btn-sort {
  color:  #1D66C1;
  background-color: #fff;
  border-color: #6c757d;
}
.dropdown .dropdown-item {
  color:  #1D66C1;
}
.dropdown a {
  margin-right: .65rem;
}
nav.navbar.horizontal-bar {
  border-top: 1px solid #bfbebe;
  border-bottom: 1px solid #bfbebe;
  padding-top: 0;
  padding-bottom: 0;
}
.menu-item{
  border-left: 1px solid #bfbebe;
  border-right: 1px solid #bfbebe;
}
.menu-item a.nav-link{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.menu-item a.nav-link:hover{
  border-bottom: 4px solid #1D66C1;
  color: #1D66C1 !important;
}
.menu-item:first-child {
  border-left: 2px solid #bfbebe;
}
.menu-item:last-child {
  border-right: 2px solid #bfbebe;
}

.menu-item a.nav-link.active {
  border-bottom: 4px solid #1D66C1;
  color: #1D66C1 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}
a.header-icons {
  color: #1D66C1;
}

@media (max-width: 576px) { 
  .no-margin-top-bottom {
    padding-top: 0;
  padding-bottom: 0;
  }
  .center-xs {
    text-align: center;
    margin: 0 auto;
  }
}
